main {
    overflow: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header {
    margin-bottom: 1rem;
}

.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.cart-total {
    padding-bottom: 3rem;
}

.cart-item {
    display: flex;
    padding: 0.5rem 0;
    height: 15rem;
    width: 90vw;
    max-width: 50rem;
    border-radius: 1.5rem;
    background-color: var(--background-color);
    filter: drop-shadow(1px 1px 5px color-mix(in srgb, var(--accent) 20%, transparent));
    overflow: hidden;
}

.cart-item-image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.cart-item-info {
    padding: 1.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;
}

.cart-item-info h4,
.cart-item-info p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.cart-item-btns {
    display: flex;
    gap: 1rem;
    margin-top: auto;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-radius: 10rem;
    overflow: hidden;
    border: solid 1px black;
}

.quantity-minus,
.quantity-plus {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 0.3s;
    cursor: pointer;
}
  
.quantity-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    border: 0;
    width: 3rem;
}
  
.quantity-minus:hover,
.quantity-plus:hover {
    background-color: var(--accent);
    color: #ffffff;
}

.remove-from-cart {
    background-color: transparent;
    border: 0;
    width: 2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.remove-from-cart:hover {
    transform: scale(1.1);
}

.remove-from-cart:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .cart-item {
        height: 10rem;
        width: 95vw;
    }
    .cart-item-btns {
        gap: 0.5rem;
    }
}